<div class="log_sign_container">

  <h2>LOG IN</h2>

  <div class="log_sign_wrapper">

    <%= form_tag sessions_path do %>
    <p>
      <%= label_tag :email %>
      <%= text_field_tag :email, params[:email] %>
    </p>

    <p>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
    </p>
    <p>
    <%= submit_tag 'Enter' %>
    </p>

    <%end %>

  </div>

</div>
