<div class="log_sign_container">

  <h2>LOG IN</h2>

  <div class="log_sign_wrapper">

    <ul>
      <%= form_tag sessions_path do %>
      <li>
        <p>
          <%= label_tag :email %>
          <br>
          <%= text_field_tag :email, params[:email] %>
        </p>
      </li>
      <li>
        <p>
          <%= label_tag :password %>
          <br>
          <%= password_field_tag :password %>
        </p>
      </li>
      <li>
        <p>
          <%= submit_tag 'ENTER', class: 'button_reg' %>
        </p>
      </li>

      <%end %>

    </ul>

  </div>

</div>
