<div class="log_sign_container">

  <h2>SIGN UP</h2>

  <div class="log_sign_wrapper">

    <ul>
      <%= form_for @user do |f| %>
      <% if @user.errors.any? %>
        <div class="error_messages">
          <h2>Form is invalid</h2>
          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <li>
        <p>
          <%= f.label :name %>
          <br>
          <%= f.text_field :name %>
        </p>
      </li>
      <li>
        <p>
          <%= f.label :email %>
          <br>
          <%= f.email_field :email %>
        </p>
      </li>
      <li>
        <p>
          <%= f.label :contact_number %>
          <br>
          <%= f.telephone_field :contact_number %>
        </p>
      </li>
      <li>
        <p>
          <%= f.label :password %>
          <br>
          <%= f.password_field :password %>
        </p>
      </li>
      <li>
        <p>
          <%= f.label :password_confirmation %>
          <br>
          <%= f.password_field :password_confirmation %>
        </p>
      </li>
      <li>
        <p>
          <%= f.submit "SIGN UP"  %>
        </p>
      </li>

      <%end%>
      </ul>

  </div>

</div>
