<div class="form_container">

  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this edit from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_for([@restaurant, @reservation]) do |f| %>
  <p>
  <%= f.label :date %>
  <%= f.date_select :date, { start_year: 2017, order: [:day, :month, :year]} %>
  </p>

  <p>
  From
  <% f.label :start_time %>
  <%= f.time_select :start_time, {ampm: true, minute_step: 30} %>
  to
  <% f.label :end_time%>
  <%= f.time_select :end_time, {ampm:true, minute_step: 30}  %>
  </p>

  <p>
  <%= f.label :group_size %>
  <%= f.number_field :group_size, min: 1, max: 10, step:1 %>
  </p>

  <p>
    <%= f.submit 'Seat Yourself!' %>
  </p>

<%end%>

</div>
