<h1> Add a new reservation </h1>

<% if current_user %>

<%= form_for([@restaurant, @reservation]) do |f| %>
<p>
<%= f.label :date %>
<%= f.date_select :date, { start_year: 2017, order: [:day, :month, :year]} %>
</p>

<p>
<%= f.label :time %>
<%= f.time_select 'time', {ampm:true, minute_step: 30} %>
</p>

<p>
  <%= f.submit 'Seat Yourself!' %>
</p>
<%end%>


<% end %>
