<div class="form_container">

  <%= form_for (@restaurant) do |f| %>

  <% if @restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this edit from being saved:</h2>

      <ul>
      <% @restaurant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div id="name">
    <p>
    <%= f.label :name %>
    <br><%= f.text_field :name %>
    </p>
  </div>

  <div id="open_time">
    <p>
    <%= f.label :opentime %>
    <br><%= f.time_select :opentime, { minute_step: 30} %>
    </p>
  </div>

  <div id="close_time">
    <p>
    <%= f.label :closetime %>
    <br><%= f.time_select :closetime, { minute_step: 30}  %>
    </p>
  </div>

<div class = "image"
  <p>
  <%= f.label :image %>
  <br><%= f.url_field :image_url %>
  </p>
</div>

<div id="capacity">
  <p>
  <%= f.label :capacity %>
  <br><%= f.text_field :capacity %>
  </p>
</div>

<div id="cuisine">
  <p>
  <%= f.label :cuisine %>
  <br><%= f.text_field :cuisine %>
  </p>
</div>

<div id="address">
  <p>
  <%= f.label :address %>
  <br><%= f.text_field :address %>
  </p>
</div>

<div id="contact_number">
  <p>
  <%= f.label :contact_number %>
  <br><%= f.telephone_field :contact_number %>
  </p>
</div>

<div id="website">
  <p>
  <%= f.label :website %>
  <br><%= f.url_field :website %>
  </p>
</div>

<div id="price_range">
  <p>
  <%= f.label :price_range_dollars %>
  <br><%= f.range_field :price_range, in: 1..5 %>
  </p>
</div>

  <div class="submit">
    <p>
      <%= f.submit %>
    </p>
  </div>

<%end%>

</div>
