<div class="form_container">

  <%= form_for restaurant do |f| %>
<%my_time = Time.now + 5.days + 7.hours + 3.minutes + 14.seconds%>
  <div id="name">
    <p>
    <%= f.label :name %>
    <br><%= f.text_field :name %>
    </p>
  </div>

  <div id="open_time">
    <p>
    <%= f.label :opentime %>
    <br><%= f.time_select 'opentime', {ampm: true, minute_step: 30} %>
    </p>
  </div>

  <div id="close_time">
    <p>
    <%= f.label :closetime %>
    <br><%= f.time_select 'closetime', {ampm:true, minute_step: 30}  %>
    </p>
  </div>

  <div class="submit">
    <p>
      <%= f.submit %>
    </p>
  </div>

<%end%>

</div>
