<div class="form_container">

  <%= form_for restaurant do |f| %>

  <div id="name">
    <p>
    <%= f.label :name %>
    <br><%= f.time_field :name %>
    </p>
  </div>

  <div id="open_time">
    <p>
    <%= f.label :opentime %>
    <br><%= f.time_field :opentime %>
    </p>
  </div>

  <div id="close_time">
    <p>
    <%= f.label :closetime %>
    <br>
    <%= f.time_field :closetime %>
    </p>
  </div>

  <div class="submit">
    <p>
      <%= f.submit %>
    </p>
  </div>

<%end%>

</div>
