<div class="restaurants_view_wrapper">

  <div class= "restaurants_container">

    <div class="edit_delete_wrapper">
      <div class="edit_delete">

        <%= link_to restaurant_path, method: :delete, data: {confirm: "Are you sure you want to delete the restaurant #{@restaurant.name}? This cannot be undone!"} do %>
          <div class="button_edit_delete">
            <%= image_tag ("ic_delete_black_24px.svg") %>
            DELETE
          </div>
        <% end %>

        <%= link_to edit_restaurant_path do %>
          <div class="button_edit_delete">
            <%= image_tag ("ic_create_black_24px.svg") %>
            EDIT
          </div>
        <% end %>

      </div>
    </div>

    <div class="view_main_container">

      <div class= "restaurant_view_image">
        <img src="<%="#{restaurant.image_url}"%>">
      </div>

      <div class="reservation_picker_container">
        <p>BOOK A RESERVATION</p>

        <div class="reservation_picker">

          <div class="book_fields">
            <div class="book_guest">
              <h3>GUEST(S)</h3>
              <h2>2 persons</h2>
            </div>
            <div class="book_date">
              <h3>DATE</h3>
              <h2>May 26, 2017</h2>
            </div>
            <div class="book_time">
              <h3>TIME</h3>
              <h2>7:30 pm</h2>
            </div>
          </div>

          <%= link_to new_restaurant_reservation_path(@restaurant) do %>
            <div class="button_book">
              BOOK NOW
            </div>
          <% end %>
        </div>
      </div>

    </div>

    <div class="restaurant_info_wrapper">
      <div class="show_main_info">
        <div class="title_header_show">
          <h2><%= link_to "#{restaurant.name}", restaurant %></h2>
        </div>
        <div class="review">
          <%= image_tag ("review_stars.svg") %>
          <%= image_tag ("review_stars.svg") %>
          <%= image_tag ("review_stars.svg") %>
          <%= image_tag ("review_stars.svg") %>
          <%= image_tag ("review_stars.svg") %>
        </div>
        <p><%= restaurant.cuisine %></p>

        <div class="info_content_wrapper">

          <div class="info_content_container">
            <div class="side_info">
              <div class="icon_container">
                <%= image_tag ("ic_room_white_24px.svg") %>
              </div>
              <div class="corresponding_info">
                <p>Address</p>
                <%= restaurant.address %>
              </div>
            </div>
          </div>

          <div class="info_content_container">
            <div class="side_info">
              <div class="icon_container">
                <%= image_tag ("ic_access_time_white_24px.svg") %>
              </div>
              <div class="corresponding_info">
                <p>Hours of Operation</p>
                <% e = Time.now.strftime("%A") %>
                <div class="days">

                  <% if e=="Monday" %>
                  <strong>Monday</strong>
                  <br>
                  <% else %>
                  Monday
                  <br>
                  <%end%>

                  <% if e=="Tuesday" %>
                  <strong>Tuesday</strong>
                  <br>
                  <% else %>
                  Tuesday
                  <br>
                  <%end%>

                  <% if e=="Wednesday" %>
                  <strong>Wednesday</strong>
                  <br>
                  <% else %>
                  Wednesday
                  <br>
                  <%end%>

                  <% if e=="Thursday" %>
                  <strong>Thursday</strong>
                  <br>
                  <% else %>
                  Thursday
                  <br>
                  <%end%>

                  <% if e=="Friday" %>
                  <strong>Friday</strong>
                  <br>
                  <% else %>
                  Friday
                  <br>
                  <%end%>

                  <% if e=="Saturday" %>
                  <strong>Saturday</strong>
                  <br>
                  <% else %>
                  Saturday
                  <br>
                  <%end%>

                  <% if e=="Sunday" %>
                  <strong>Sunday</strong>
                  <br>
                  <% else %>
                  Sunday
                  <br>
                  <%end%>

                </div>
                <div class="hours">
                  <% f = Time.now.strftime("%A") %>

                  <%if f=="Monday" %>
                  <strong>
                  <%= restaurant.mondayopen.strftime("%I:%M %p") %> - <%= restaurant.mondayclose.strftime("%I:%M %p") %>
                 </strong>
                  <br>
                  <%else%>
                  <%= restaurant.mondayopen.strftime("%I:%M %p") %> - <%= restaurant.mondayclose.strftime("%I:%M %p") %>
                  <br>
                  <%end%>

                  <%if f=="Tuesday" %>
                  <strong>
                  <%= restaurant.tuesdayopen.strftime("%I:%M %p") %> - <%= restaurant.tuesdayclose.strftime("%I:%M %p") %>
                </strong>
                 <br>
                 <%else%>
                  <%= restaurant.tuesdayopen.strftime("%I:%M %p") %> - <%= restaurant.tuesdayclose.strftime("%I:%M %p") %>
                  <br>
                  <%end%>



                  <%if f=="Wednesday" %>
                  <strong>
                  <%= restaurant.wednesdayopen.strftime("%I:%M %p") %> - <%= restaurant.wednesdayclose.strftime("%I:%M %p") %>
                </strong>
                  <br>
                  <%else%>
                  <%= restaurant.wednesdayopen.strftime("%I:%M %p") %> - <%= restaurant.wednesdayclose.strftime("%I:%M %p") %>
                  <br>
                  <%end%>

                  <%if f=="Thursday" %>
                  <strong>
                  <%= restaurant.thursdayopen.strftime("%I:%M %p") %> - <%= restaurant.thursdayclose.strftime("%I:%M %p") %>
                </strong>
                  <br>
                  <%else%>
                    <%= restaurant.thursdayopen.strftime("%I:%M %p") %> - <%= restaurant.thursdayclose.strftime("%I:%M %p") %>
                  <br>
                  <%end%>

                  <%if f=="Friday" %>
                  <strong>
                  <%= restaurant.fridayopen.strftime("%I:%M %p") %> - <%= restaurant.fridayclose.strftime("%I:%M %p") %>
                 </strong>
                  <br>
                  <%else%>
                    <%= restaurant.fridayopen.strftime("%I:%M %p") %> - <%= restaurant.fridayclose.strftime("%I:%M %p") %>
                  <br>
                  <%end%>

                  <%if f=="Saturday" %>
                  <strong>
                  <%= restaurant.saturdayopen.strftime("%I:%M %p") %> - <%= restaurant.saturdayclose.strftime("%I:%M %p") %>
                </strong>
                  <br>
                  <%else%>
                  <%= restaurant.saturdayopen.strftime("%I:%M %p") %> - <%= restaurant.saturdayclose.strftime("%I:%M %p") %>
                  <br>
                  <%end%>

                  <%if f=="Sunday" %>
                  <strong>
                  <%= restaurant.sundayopen.strftime("%I:%M %p") %> - <%= restaurant.sundayclose.strftime("%I:%M %p") %>
                  </strong>
                  <br>
                  <%else%>
                  <%= restaurant.sundayopen.strftime("%I:%M %p") %> - <%= restaurant.sundayclose.strftime("%I:%M %p") %>
                  <br>
                  <%end%>

                </div>
              </div>
            </div>
          </div>

          <div class="info_content_container">
            <div class="side_info">
              <div class="icon_container">
                <%= image_tag ("ic_call_white_24px.svg") %>
              </div>
              <div class="corresponding_info">
                <p>Contact Number</p>
                <%= restaurant.contact_number %>
              </div>
            </div>
          </div>

          <div class="info_content_container">
            <div class="side_info">
              <div class="icon_container">
                <%= image_tag ("ic_language_white_24px.svg") %>
              </div>
              <div class="corresponding_info">
                <p>Website</p>
                <%= restaurant.website %>
              </div>
            </div>
          </div>

          <div class="info_content_container">
            <div class="side_info">
              <div class="icon_container">
                <%= image_tag ("ic_room_white_24px.svg") %>
              </div>
              <div class="corresponding_info">
                <p>Price Range</p>
                <%= Restaurant.price_range_conversion(@restaurant.id)[0] %><%= Restaurant.price_range_conversion(@restaurant.id)[1] %>
              </div>
            </div>
          </div>

        </div>
      </div>


        <!-- <div class="hours">
            <div class="opening">
              <h3>OPENING TIME</h3>
              <p>
                <% a = Time.now.strftime("%A") %>
                <% if a== "Monday" %>
                      <%= restaurant.mondayopen && restaurant.mondayopen.strftime("%I:%M %p") %>
                <% elsif a== "Tuesday" %>
                      <%= restaurant.tuesdayopen && restaurant.tuesdayopen.strftime("%I:%M %p") %>
                <% elsif a== "Wednesday" %>
                      <%= restaurant.wednesdayopen && restaurant.wednesdayopen.strftime("%I:%M %p") %>
                <% elsif a== "Thursday" %>
                      <%= restaurant.thursdayopen && restaurant.thursdayopen.strftime("%I:%M %p") %>
                <% elsif a== "Friday" %>
                      <%= restaurant.fridayopen && restaurant.fridayopen.strftime("%I:%M %p") %>
                <% elsif a== "Saturday" %>
                      <%= restaurant.saturdayopen && restaurant.saturdayopen.strftime("%I:%M %p") %>
                <% elsif a== "Sunday" %>
                      <%= restaurant.sundayopen && restaurant.sundayopen.strftime("%I:%M %p") %>
                <%end%>


              </p>
            </div>
            <span id="hours_to">-</span>
            <div class="closing">
              <h3>CLOSING TIME</h3>
              <p>
                <% b = Time.now.strftime("%A") %>
                <% if b== "Monday" %>
                      <%= restaurant.mondayclose && restaurant.mondayclose.strftime("%I:%M %p") %>
                <% elsif b== "Tuesday" %>
                      <%= restaurant.tuesdayclose && restaurant.tuesdayclose.strftime("%I:%M %p") %>
                <% elsif b== "Wednesday" %>
                      <%= restaurant.wednesdayclose && restaurant.wednesdayclose.strftime("%I:%M %p") %>
                <% elsif b== "Thursday" %>
                      <%= restaurant.thursdayclose && restaurant.thursdayclose.strftime("%I:%M %p") %>
                <% elsif b== "Friday" %>
                      <%= restaurant.fridayclose && restaurant.fridayclose.strftime("%I:%M %p") %>
                <% elsif b== "Saturday" %>
                      <%= restaurant.saturdayclose && restaurant.saturdayclose.strftime("%I:%M %p") %>
                <% elsif b== "Sunday" %>
                      <%= restaurant.sundayclose && restaurant.sundayclose.strftime("%I:%M %p") %>
                <%end%>
              </p>
            </div>

          </div> -->



    </div>

    <div class="reviews_container">
      <div class="reservations">
        <!-- <h3> Reservation </h3>
          <% @restaurant.reservations.each do |reservation| %>
            <p> Reserved on <%= reservation.date && reservation.date.strftime("%Y-%m-%d")%> from <%= reservation.start_time && reservation.start_time.strftime("%I:%M %p") %> to <%= reservation.end_time && reservation.end_time.strftime("%I:%M %p")  %> </p>
            <p> <%= link_to 'Edit', edit_restaurant_reservation_path(@restaurant,reservation) %> | <%= link_to 'Cancel', restaurant_reservation_path(@restaurant,reservation), method: :delete, data: {confirm: "Are you sure you want to cancel this reservation?"} %> </p>
        <% end %>
          <p><%= link_to "Book now", new_restaurant_reservation_path(@restaurant) %> </p>
      </div> -->

      <div class= "reviews">
      <p> REVIEWS <p>
      <p><% @restaurant.reviews.each do |review| %><p>

        <div class="comment">
          <%= review.comment %>
          <br>
          <br>
          <div class="user_review_thumbnail">
            <img src="http://lorempixel.com/40/40" alt="">
          </div>
          <div class="user_review_info">
            <% if review.user != nil %>
             By: <em><%=review.user.name %> </em>
             <br>
             Added on: <%= review.created_at.strftime("%B %dth, %Y %I:%M %p") %>
             <%end %>
          </div>

        </div>
        <hr>
          </p>
        <%end%>

        <% if current_user %>
      <h4> New Review </h4>

      <%= form_for([@restaurant, @review]) do |f| %>

      <% if @review.errors.any? %>
           <div id="error_explanation">
             <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

             <ul>
             <% @review.errors.full_messages.each do |msg| %>
               <li><%= msg %></li>
             <% end %>
             </ul>
           </div>
         <% end %>

          <%= f.label :comment %>
          <br>
          <%= f.text_area :comment %>

          <p>
          <%= f.submit %>
          </p>
          <% end %>

          <% else %>
          <p> Please <%= link_to 'Log In', new_session_path %> or <%= link_to 'Sign Up', new_user_path%> to add a review
          </p>
            <% end %>
          </div>

    </div>


  </div>

</div>
