<div class="restaurants_wrapper">

  <div class= "restaurants">

    <div class= "restaurant_image">
      <img src="<%="#{restaurant.image_url}"%>">
    </div>

    <div class="restaurant_info">
      <div class="index_main_info">
        <div class="title_header">
          <h2><%= link_to "#{restaurant.name}", restaurant %></h2>
        </div>
        <div class="review">
          <%= image_tag ("review_stars.svg") %>
          <%= image_tag ("review_stars.svg") %>
          <%= image_tag ("review_stars.svg") %>
          <%= image_tag ("review_stars.svg") %>
          <%= image_tag ("review_stars.svg") %>
        </div>
        <p>lorem ipsum</p>
      </div>

        <div class="hours">
            <div class="opening">
              <h3>OPENING TIME</h3>
              <p>
              <%= restaurant.opentime && restaurant.opentime.strftime("%I:%M %p") %>
              </p>
            </div>
            <span id="hours_to">-</span>
            <div class="closing">
              <h3>CLOSING TIME</h3>
              <p>
                <%= restaurant.closetime && restaurant.closetime.strftime("%I:%M %p") %>
              </p>
            </div>

          </div>

        <div class="button_book">
            <%= link_to "BOOK NOW", restaurant %>
          </div>

    </div>


  </div>

</div>

<hr>
