<div class="restaurants_view_wrapper">

  <div class= "restaurants_container">

    <div class="edit_delete_wrapper">
      <div class="edit_delete">

        <%= link_to restaurant_path, method: :delete, data: {confirm: "Are you sure you want to delete the restaurant #{@restaurant.name}? This cannot be undone!"} do %>
          <div class="button_edit_delete">
            <%= image_tag ("ic_delete_black_24px.svg") %>
            DELETE
          </div>
        <% end %>

        <%= link_to edit_restaurant_path do %>
          <div class="button_edit_delete">
            <%= image_tag ("ic_create_black_24px.svg") %>
            EDIT
          </div>
        <% end %>

      </div>
    </div>

    <div class="view_main_container">

      <div class= "restaurant_view_image">
        <img src="<%="#{restaurant.image_url}"%>">
      </div>

      <div class="reservation_picker_container">
        <p>BOOK A RESERVATION</p>

        <div class="reservation_picker">

          <div class="book_fields">
            <div class="book_guest">
              <h3>GUEST(S)</h3>
              <h2>2 persons</h2>
            </div>
            <div class="book_date">
              <h3>DATE</h3>
              <h2>May 26, 2017</h2>
            </div>
            <div class="book_time">
              <h3>TIME</h3>
              <h2>7:30 pm</h2>
            </div>
          </div>

          <%= link_to restaurant do %>
            <div class="button_book">
              BOOK NOW
            </div>
          <% end %>
        </div>
      </div>

    </div>

    <div class="restaurant_info_wrapper">
      <div class="show_main_info">
        <div class="title_header_show">
          <h2><%= link_to "#{restaurant.name}", restaurant %></h2>
        </div>
        <div class="review">
          <%= image_tag ("review_stars.svg") %>
          <%= image_tag ("review_stars.svg") %>
          <%= image_tag ("review_stars.svg") %>
          <%= image_tag ("review_stars.svg") %>
          <%= image_tag ("review_stars.svg") %>
        </div>
        <p><%= restaurant.cuisine %></p>

        <div class="info_content_wrapper">

          <div class="info_content_container">
            <div class="side_info">
              <div class="icon_container">
                <%= image_tag ("ic_room_white_24px.svg") %>
              </div>
              <div class="corresponding_info">
                <p>Address</p>
                <%= restaurant.address %>
              </div>
            </div>
          </div>

          <div class="info_content_container">
            <div class="side_info">
              <div class="icon_container">
                <%= image_tag ("ic_access_time_white_24px.svg") %>
              </div>
              <div class="corresponding_info">
                <p>Hours of Operation</p>
                <div class="days">
                  Monday
                  <br>
                  Tuesday
                  <br>
                  Wednesday
                  <br>
                  Thursday
                  <br>
                  Friday
                  <br>
                  Saturday
                  <br>
                  Sunday
                </div>
                <div class="hours">
                  <%= restaurant.mondayopen.strftime("%I:%M %p") %> - <%= restaurant.mondayclose.strftime("%I:%M %p") %>
                  <br>
                  <%= restaurant.tuesdayopen.strftime("%I:%M %p") %> - <%= restaurant.tuesdayclose.strftime("%I:%M %p") %>
                  <br>
                  <%= restaurant.wednesdayopen.strftime("%I:%M %p") %> - <%= restaurant.wednesdayclose.strftime("%I:%M %p") %>
                  <br>
                  <%= restaurant.thursdayopen.strftime("%I:%M %p") %> - <%= restaurant.thursdayclose.strftime("%I:%M %p") %>
                  <br>
                  <%= restaurant.fridayopen.strftime("%I:%M %p") %> - <%= restaurant.fridayclose.strftime("%I:%M %p") %>
                  <br>
                  <%= restaurant.saturdayopen.strftime("%I:%M %p") %> - <%= restaurant.saturdayclose.strftime("%I:%M %p") %>
                  <br>
                  <%= restaurant.sundayopen.strftime("%I:%M %p") %> - <%= restaurant.sundayclose.strftime("%I:%M %p") %>
                </div>
              </div>
            </div>
          </div>

          <div class="info_content_container">
            <div class="side_info">
              <div class="icon_container">
                <%= image_tag ("ic_call_white_24px.svg") %>
              </div>
              <div class="corresponding_info">
                <p>Contact Number</p>
                <%= restaurant.contact_number %>
              </div>
            </div>
          </div>

          <div class="info_content_container">
            <div class="side_info">
              <div class="icon_container">
                <%= image_tag ("ic_language_white_24px.svg") %>
              </div>
              <div class="corresponding_info">
                <p>Website</p>
                <%= restaurant.website %>
              </div>
            </div>
          </div>

          <div class="info_content_container">
            <div class="side_info">
              <div class="icon_container">
                <%= image_tag ("ic_room_white_24px.svg") %>
              </div>
              <div class="corresponding_info">
                <p>Price Range</p>
                <%= Restaurant.price_range_conversion(@restaurant.id)[0] %>
                <br><%= Restaurant.price_range_conversion(@restaurant.id)[1] %>
              </div>
            </div>
          </div>

        </div>
      </div>


        <div class="hours">
            <div class="opening">
              <h3>OPENING TIME</h3>
              <p>
              <%= restaurant.mondayopen && restaurant.mondayopen.strftime("%I:%M %p") %>
              </p>
            </div>
            <span id="hours_to">-</span>
            <div class="closing">
              <h3>CLOSING TIME</h3>
              <p>
                <%= restaurant.mondayclose && restaurant.mondayclose.strftime("%I:%M %p") %>
              </p>
            </div>

          </div>



    </div>

  </div>

</div>
