<div class="restaurants_wrapper">

  <div class= "restaurants">

    <div class= "restaurant_image">
      <img src="<%="#{restaurant.image_url}"%>">
    </div>

    <div class="restaurant_info">
      <div class="index_main_info">
        <div class="title_header">
          <h2><%= link_to "#{restaurant.name}", restaurant %></h2>
        </div>

        <div class="review">
          <%= image_tag ("review_stars.svg") %>
          <%= image_tag ("review_stars.svg") %>
          <%= image_tag ("review_stars.svg") %>
          <%= image_tag ("review_stars.svg") %>
          <%= image_tag ("review_stars.svg") %>
        </div>

        <p>lorem ipsum</p>

        <div class="">
          <br>
          Opening time: <%= restaurant.opentime && restaurant.opentime.strftime("%I:%M %p") %>
          <br>
          Closing time: <%= restaurant.closetime && restaurant.closetime.strftime("%I:%M %p") %>
        </div>

        <div class="button_book">
          <a href="#">BOOK NOW</a>
        </div>
      </div>
    </div>




  </div>

</div>
