<div class="restaurants_wrapper">

  <div class= "restaurants">

    <div class= "restaurant_image">
      <%= link_to restaurant do %>
        <img src="<%="#{restaurant.image_url}"%>">
      <% end %>
    </div>

    <div class="restaurant_info">
      <div class="index_main_info">
        <div class="title_header">
          <h2><%= link_to "#{restaurant.name}", restaurant %></h2>
        </div>
        <div class="review">
          <%= image_tag ("review_stars.svg") %>
          <%= image_tag ("review_stars.svg") %>
          <%= image_tag ("review_stars.svg") %>
          <%= image_tag ("review_stars.svg") %>
          <%= image_tag ("review_stars.svg") %>
        </div>
        <p><%= restaurant.cuisine %></p>

      </div>

        <div class="hours">
            <div class="opening">
              <h3>OPENING TIME</h3>
              <p>
                <% c = Time.now.strftime("%A") %>
                <% if c== "Monday" %>
                      <%= restaurant.mondayopen && restaurant.mondayopen.strftime("%I:%M %p") %>
                <% elsif c== "Tuesday" %>
                      <%= restaurant.tuesdayopen && restaurant.tuesdayopen.strftime("%I:%M %p") %>
                <% elsif c== "Wednesday" %>
                      <%= restaurant.wednesdayopen && restaurant.wednesdayopen.strftime("%I:%M %p") %>
                <% elsif c== "Thursday" %>
                      <%= restaurant.thursdayopen && restaurant.thursdayopen.strftime("%I:%M %p") %>
                <% elsif c== "Friday" %>
                      <%= restaurant.fridayopen && restaurant.fridayopen.strftime("%I:%M %p") %>
                <% elsif c== "Saturday" %>
                      <%= restaurant.saturdayopen && restaurant.saturdayopen.strftime("%I:%M %p") %>
                <% elsif c== "Sunday" %>
                      <%= restaurant.sundayopen && restaurant.sundayopen.strftime("%I:%M %p") %>
                <%end%>
              </p>
            </div>
            <span id="hours_to">-</span>
            <div class="closing">
              <h3>CLOSING TIME</h3>
              <p>
                <% d = Time.now.strftime("%A") %>
                <% if d== "Monday" %>
                      <%= restaurant.mondayclose && restaurant.mondayclose.strftime("%I:%M %p") %>
                <% elsif d== "Tuesday" %>
                      <%= restaurant.tuesdayclose && restaurant.tuesdayclose.strftime("%I:%M %p") %>
                <% elsif d== "Wednesday" %>
                      <%= restaurant.wednesdayclose && restaurant.wednesdayclose.strftime("%I:%M %p") %>
                <% elsif d== "Thursday" %>
                      <%= restaurant.thursdayclose && restaurant.thursdayclose.strftime("%I:%M %p") %>
                <% elsif d== "Friday" %>
                      <%= restaurant.fridayclose && restaurant.fridayclose.strftime("%I:%M %p") %>
                <% elsif d== "Saturday" %>
                      <%= restaurant.saturdayclose && restaurant.saturdayclose.strftime("%I:%M %p") %>
                <% elsif d== "Sunday" %>
                      <%= restaurant.sundayclose && restaurant.sundayclose.strftime("%I:%M %p") %>
                <%end%>
              </p>
            </div>

          </div>

          <%= link_to restaurant do %>
            <div class="button_book">
              BOOK NOW
            </div>
          <% end %>



    </div>


  </div>

</div>

<hr>
