<div class="restaurants_wrapper">

  <div class= "restaurants">

    <div class="title_header">
      <h2><%= link_to "#{restaurant.name}", restaurant %></h2>
    </div>

    <div class= "restaurant_image">
      <img src="<%="#{restaurant.image_url}"%>">
    </div>

    <br>
    Opening time: <%= restaurant.opentime && restaurant.opentime.strftime("%I:%M %p") %>
    <br>
    Closing time: <%= restaurant.closetime && restaurant.closetime.strftime("%I:%M %p") %>

    <%= restaurant.timeslots.each do |ts| %>
Start : <%= ts.start %> End : <%= ts.end %>
<%end %>
  </div>
  Restaurant capacity: <%= restaurant.capacity %>

</div>
