
<p>
  <%= link_to 'Back to all restaurants', restaurants_path %>
</p>

<%= render 'single_restaurant_view', restaurant: @restaurant %>

<!-- <div class = "capacity" >
  <p>
        Restaurant capacity: <%= @restaurant.capacity %>
        Price range: <%= Restaurant.price_range_conversion(@restaurant.id)[0] %> <%= Restaurant.price_range_conversion(@restaurant.id)[1] %>
  </p>
</div> -->

<!-- <div class = "timeslots">
  <h3> Timeslots </h3>
  <% @restaurant.timeslots.each do |ts| %>
      <p> Date : <%= ts.start.strftime("%a") %> </p>
      <p> Start : <%= ts.start.strftime("%I:%M %p") %> End : <%= ts.end.strftime("%I:%M %p") %> </p>
  <%end %>

</div> -->
