<!DOCTYPE html>
<html>
  <head>
    <title>Seatyourself</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav>

      <div class="logo">
        <a href="/"><%= image_tag ("seat-yourself-logo.svg")%></a>
      </div>

      <div class="nav_links">

        <a href="restaurants#index">BROWSE</a>

        <% if flash[:notice] %>
          <p id="notice"><%= flash[:notice] %></p>
        <% end %>
        <% if flash[:alert] %>
          <p id="alert"><%= flash[:alert] %></p>
        <% end %>

        <% if current_user %>
            Signed in as: <%= current_user.name %> <%= link_to 'Log Out', session_path("current"), :method => :delete%>
            <% else %>
            <%= link_to 'LOG IN', new_session_path %>
            <%= link_to 'SIGN UP', new_user_path %>
        <%end%>

      </div>

    </nav>



    <%= yield %>
  </body>
</html>
